*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: var(--transparent-white);
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 9rem;
}

.card-slot{
  display: flex;
}

.card{
  /* margin: 1rem; */
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h2{
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
  padding-bottom: .5em;
  font-size: 2rem;
}

p{
  font-size: var(--font-size);
  margin-top: 1em;
  margin-bottom: 2em;

}

.sedans{
  background-color: var(--bright-orange);
  color: var(--transparent-white);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.sedans button{
  background-color: var(--bright-orange);
}

.suvs{
  background-color: var(--dark-cyan);
  color: var(--transparent-white);
}

.suvs button{
  background-color: var(--dark-cyan);
}

.luxury{
  background-color: var(--very-dark-cyan);
  color: var(--transparent-white);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.luxury button{
  background-color: var(--very-dark-cyan);
}


button{
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  color: var(--very-light-grey);
  border: 2px solid hsl(0, 0%, 95%);
}


@media only screen and (max-width: 768px){
  .card-slot{
    display: flex;
    flex-direction: column;
  }

  .sedans{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
  }

  .luxury{
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}